<!DOCTYPE html>
<html>
<head>
  <title>Siw</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "jquery", "rails", "FusionCharts"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
